# Ambiente virtual
.venv/
venv/
env/

# PyCharm / JetBrains
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Distribuição / build
build/
dist/
*.egg

# Variáveis de ambiente
.env

# Sistema operacional
.DS_Store
Thumbs.db
